*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.orange{
    color: #FF5C2A;
}

.bg-orange{
    background-color: #FF5C2A;
}

.btn-primary{
    background-color: #FF5C2A;
    border: 1px #FF5C2A solid;
}

.btn-primary:hover{
    background-color: #FF5C2A;
    border: 1px #FF5C2A solid;
}

.emp{
    color: #FF5C2A;
}

ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
    }
    ul li {
    list-style:none;
    margin-bottom:25px;
    }
    ul li img {
    cursor: pointer;
    }

footer{
    font-family: 'Libre Franklin', sans-serif;
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
    }